<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/schema/security">

<head>
<style>

</style>

</head>

<body>

	<div class="navbar navbar-default navbar-fixed-top" th:fragment="header">
		
		<div class="container">
			
			<div class="navbar-header">
				
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					
					<span class="icon-bar"></span> <span class="icon-bar"></span> 
					
					<span class="icon-bar"></span>
						
				</button>
				
				<a class="navbar-brand" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"> </i> Shopping List</a>
				
			</div>
			
			<div class="navbar-collapse collapse">
			
				<ul class="nav navbar-nav">
				
					<li class="hover"><a href="#" th:href="@{/}" class="navLink">Home</a></li>
					
					 <li class="hover"><a href="#" th:href="@{/ListsofLists}" class="navLink">Lists</a></li>
					
				</ul>
				<!-- experimenting with conditionals in a html thymeleaf setting. will be able to use this with security purposes. -->
			
			</div>
		</div>
	</div>
</body>
</html>