<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>Shopping List items</h1>

		<table>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Content</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ListItem : ${list_items}">
					<td th:text="${}"> <input type="checkbox" name="checked" th:value="${ListItem.ischecked}"></td>
					<td th:text="${shoppingListItem.contents}"></td>
					<td><form method="POST" ><input type="hidden" name="listId" th:value="${}"/><button type="submit">Delete</button></form></td>
				</tr>
			</tbody>
		</table>

	<a href="/">Back</a>
</body>
</html>