<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<link rel="stylesheet" th:href="@{/templates.css/main.css}" />
<head>
<title>Shopping Lists</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
}

.strikethrough:checked+.strikeThis {
	text-decoration: line-through
} 

#list{
  margin: 10px 5px;
}

#list div{
  margin-bottom: 5px;
}

#list button{
  margin-top: 5px;
}

input[type=text] {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}

</style>

</head>
<body layout:fragment="content">
	<div id="checkbox-container">
		<h1>Shopping Lists</h1>
		<!-- a simple button for later to add shopping lists -->
		<!-- <button type="button" class="btn btn-danger" /><a href="/" th:href="@{|/ListsofLists/add|}"></a></button> -->
		<a href="/" th:href="@{|/ListsofLists/add|}"><button type="button" class="btn btn-success">Add List</button></a>
		
		<a href="/" th:href="@{|/ListsofLists/|}"><button type="button" class="btn btn-success">Done</button></a>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${lists}">
					<!-- <td> -->
					<!-- <form method="POST">
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
					<input type="checkbox" name="active" id="check1"/> 
					<label th:text="${list.name}"> </label>
					 
					</form> -->
					<!-- </td> -->
					
					<td style="padding-top: 20px" th:if="${list.isChecked} == true"><a
                        th:href="@{|/ListsofLists/${list.id}/uncheck/|}"><i
                            class="fa fa-check-square-o" aria-hidden="true"></i></a></td>
                            
                    <td style="padding-top: 20px" th:if="${list.isChecked} == false"><a
                        th:href="@{|/ListsofLists/${list.id}/check/|}"><i
                            class="fa fa-square-o" aria-hidden="true"></i></a></td>
                            
                    <td style="padding-top: 20px" th:if="${list.isChecked} == true">
                        <p style="text-decoration: line-through;"
                            th:utext="${list.name}"></p>
                    </td>
                    <td style="padding-top: 20px" th:if="${list.isChecked} == false"
                        th:utext="${list.name}"></td>
					
					<td><button type="button" class="btn btn-info" th:href="@{|/ListsofLists/${list.id}|}">Show</button></td>

					<!-- Delete button -->
					<td><a href="/" th:href="@{|/ListsofLists/${list.id}|}"><button type="button" class="btn btn-info">Show</button></a></td>
					<td><form method="POST">
							<input type="hidden" name="listId" th:value="${list.id}" />
							<button type="submit">Delete</button>
						</form></td>
				</tr>
			</tbody>
		</table>

		
	</div>
	

   

</body>
</html>