<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<link rel="stylesheet" th:href="@{/templates.css/main.css}" />
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
}

input[type=checkbox]:checked+label.strikethrough {
	text-decoration: line-through;
}

.strikethrough:checked+.strikeThis {
	text-decoration: line-through
}


</style>

<script type="text/javascript" th:inline="javascript">

var checkboxValues = {};
$(":checkbox").each(function(){
  checkboxValues[this.id] = this.checked;
});
$.cookie('checkboxValues', checkboxValues, { expires: 7, path: '/' })

function repopulateCheckboxes(){
  var checkboxValues = $.cookie('checkboxValues');
  if(checkboxValues){
    Object.keys(checkboxValues).forEach(function(element) {
      var checked = checkboxValues[element];
      $("#" + element).prop('checked', checked);
    });
  }
}

</script>
</head>
<body layout:fragment="content">
	<div class="row">
		<h1>Shopping Lists</h1>
		<!-- a simple button for later to add shopping lists -->
		<a href="/" th:href="@{|/ListsofLists/add|}"><input type="button"
			value="Add list" /></a>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="list">
				<tr th:each="list : ${lists}">

					<td><input type="checkbox" name="check" class="strikethrough"
						value="1" /> <label for="check" class="strikeThis"
						th:text="${list.name}"> </label></td>
					<!-- 	<td th:text="${list.name}"></td> -->
					<td><a href="/" th:href="@{|/ListsofLists/${list.id}|}">Show</a></td>
					<td><form method="POST">
							<input type="hidden" name="listId" th:value="${list.id}" />
							<button type="submit">Delete</button>
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
