<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>user detail</h1>

	<ul>
		<li th:text="${user.id}"></li>
		<li th:text="${user.firstName}"></li>
		<li th:text="${user.lastName}"></li>
		<li th:text="${user.email}"></li>
		<li><a href="/" th:href="@{|/user/${user.id}/edit|}">Edit</a></li>
	</ul>

	<a href="/">Back</a>
</body>
</html>